* {
    margin: 0;
    padding: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.navbar {
    background-color: black;
}

.jumbotron {
    height: 95vh;
    background-color: black;
}

.jumbotron > img {
    width: 40%;
}

.prof-pic-about > img {
    width: 12%;
    margin-top: 2.5em;
    border-radius: 48.3%;
}

.contact {
    background-color: pink;
}


footer {
    color: white;
    background-color: black;
}


/* <img src="./assets/Czar.png" alt="Czar" id="picture-" /> */